<div class="article-icon-links-container">
  <ul class="article-icon-links cleared">
    <li class="first">
      <a class="comments-link" href="/femail/article-2159855/.html#comments" rel="nofollow">
        <span class="icon"></span>
        <span class="linktext">Comments (
          <span class="readerCommentNo" rel="2159855">666
          </span>)
        </span>
      </a>
    </li>
    <li class=" gr3ox">
      <a class="http://bit.ly/StZ1a5| js-sl share-link" href="#">
        <span class="icon"></span> <span class="linktext">Share</span>
      </a>
    </li>
  </ul>
</div>